:root {
    --accent: #E30613;
    --section_background: #dfe0e1;
    --frontpage_background: #e94f3bb7;
    --body_background: #dfe0e1;
    --navbar_background: #ffffff;
    --text: #56585a;
  }

.section-bg {
    background: var(--section_background) !important;
}

body{
    background-color: var(--body_background) !important;
    color: var(--text);
}

.navigation {
    background-color: var(--navbar_background) !important;
}

.title h2 {
    color: var(--text) !important;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text)  !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(0,0,0, .7) !important;
}

.title h2 span {
    color: var(--accent) !important;
}

.border-meghna:before {
    background-color: var(--accent) !important;
}

.hero-area .block h1 {
    color: var(--accent) !important;
}

.hero-area .block p {
    color: var(--section_background) !important;
    text-shadow: 1px 1px 1px var(--accent);
}

.portfolio-filter .btn.active {
    border-color: var(--accent) !important;
}
.portfolio-block .caption .search-icon {
    background: var(--accent) !important;
}

::selection {
    background: var(--accent) !important;
}

.btn-transparent:hover, .btn-transparent:focus {
    background-color: var(--accent) !important;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: var(--accent) !important;
}

#content > section.section > div > div > div.col-lg-8.offset-lg-2.text-center > ul > li:nth-child(1) > a {
    color: var(--text);
}

p {
    color: var(--text) !important;
}

a#impressum.impressum_link {
    color: var(--text) !important;
}

a:hover#impressum.impressum_link {
    color: var(--accent) !important;
}
.hero-area {
    background-position: center;
}

.section-bg#footer {
    border-top: 5px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-color: var(--accent);
    border-style: groove;
}

/* flex-Box */
.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.flexboxitem {
    min-width: 380px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    max-width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.flexboxitem.contact {
    min-width: 270px;
}


.flexboxitem.sausage {
  min-height: 350px;
}


.flexboxitem > img {
    border-radius: 5%;
    width: auto;
    max-width: 90%;
    height: auto;
}

.flexboxitem > p {
    max-width: 90%;
}


/* Over write bootstrap defaults*/
.container {
    max-width: 80% !important;
    padding-left: unset;
    padding-right: unset;
}

@media (min-width: 576px){
    .container {
        max-width: 80% !important;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 80% !important;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 60% !important;
    }
}
