.sausage-picture {
  width:auto;
  height: 98%;
}

.sausage-picture > img {
  border-radius: 5%;
  /* max-width: 250px; */
  position: relative;
}

.slider {
  background-size: contain;
  border-radius: 5%;
} 


.slider img:first-child {
  /*z-index: 1;*/
  opacity: 1;
  width: auto;
  height: 100%;
  position: absolute;
  top: inherit;
  left: inherit;
  border-radius: 5%;
  max-width: 100%;
  min-height: fit-content;
} 

.slider img:not(:first-child) {
  /*z-index: 0;*/
  opacity: 0;
  width: auto;
  height: 100%;
  position: absolute;
  top: inherit;
  left: inherit;
  border-radius: 5%;
  max-width: 100%;
  min-height: fit-content;
}

.img-1 {
  height: inherit;
  border-radius: 5%;
}

.img-2 {
  height: inherit;
}
.img-3 {
  height: inherit;
}
.img-4 {
  height: inherit;
}
  
.navigation-button {
  text-align: center;
  position: relative;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active-img,
.dot:hover {
  background-color: #717171;
}